.age-gate{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	.age-gate-form{
		background: rgba(255, 255, 255, 1);
		border-radius: 5px;
	    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	    padding: 30px; 
	    width: calc(100% - 60px);
	    font-family: 'Roboto', arial, sans-serif;
		.age-gate-subheading{
			margin: 20px 0;
			font-weight: 300;
			font-size: 14px;
		}
		.age-gate-logo{
			width: 233px;
			margin: auto;
			display: block;  
		}

		.age-gate-form-section{
			.age-gate-label{
				margin: 10px 5px;
				display: block;
			}
			input{
				outline: 0;
				background: #ffffff;
				width: 100%;
				border: 0;
				padding: 6px;
				box-sizing: border-box;
				font-size: 13px;
				border: 1px solid #e3e3e3;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;
			}
		}
		.age-gate-submit{
			display: inline-block;
			width: auto;
			height: auto;
			padding: 10px 40px;
			margin: 10px 0;
			font-size: 12px;
			border-radius: 20px;
			color: #234e7a;
			background-color: transparent;
			border: 1px solid #234e7a;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			line-height: normal;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			&:hover{
				background-color: #234e7a;
				border: 1px solid #234e7a;
				color: #ffffff;
			}
		}
	}
}


@media only screen and (max-width: 600px) {
	.age-gate{
		.age-gate-form{
			// margin: 0 20px; 
			padding: 15px; 
			width: calc(100% - 30px);
			.age-gate-form-elements{
				.age-gate-label{
					
				}
			}
		}
	}

}

@media only screen and (max-width: 335px) {
	.age-gate{
		.age-gate-form{
			.age-gate-form-elements{
				display: flex;
				justify-content: space-between;
			}
		}
	}

}